@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playwrite+MX:wght@100..400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.playfair-display-sc-bold-italic {
  font-family: "Playfair Display SC", serif;
  font-weight: 700;
  font-style: italic;
}
body {
  @apply overflow-x-hidden;
}
